body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

#tablaPersonas {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

#tablaPersonas thead {
    background-color: #ffcc00;
}

#tablaPersonas th,
#tablaPersonas td {
    border: 1px solid #ddd;
    padding: 8px;
}

#tablaPersonas tr:nth-child(even) {
    background-color: #f2f2f2;
}

#tablaPersonas tr:hover {
    background-color: #ddd;
}

#tablaPersonas button {
    padding: 5px 10px;
    border: none;
    background-color: #ffa500;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#tablaPersonas button:hover {
    background-color: #ff7700;
}

#detallesPersona {
    margin-top: 20px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    gap: 20px;
}

#detallesPersona.hidden {
    display: none;
}

#detallesPersona img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    border: 2px solid #ddd;
    border-radius: 10px;
}

#detallesPersona h2 {
    margin: 0;
    color: #333;
}

#detallesPersona h3 {
    margin-top: 10px;
    color: #555;
}

#detallesPersona ul {
    list-style-type: none;
    padding: 0;
}

#detallesPersona ul li {
    margin-bottom: 5px;
    background-color: #ffcc00;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}
